.lista {
  display: flex; 
  justify-content: center; 
  list-style: none; 
  padding: 0;
  margin: 0;
}

.item {
  margin: 15px; 
}

.link {
  text-decoration: none;
  color: #1c2502;
  font-size: 20px;
  padding: 5px 0; 
  margin: 0 10px;
}

.link:hover {
  
  color: #000; 
  border-bottom: 2px solid #6407dd; 
  
  
}
/* ===== NAVBAR ===== */
nav {
  background-color:rgb(219, 211, 228);
  padding: 1rem 2rem;
  box-shadow: 0px 0px 2px 1px black;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav li {
  display: inline-block;
}
/*
nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}
  
nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}
*/